.header {
  text-align: center;
  background-color: #2DD4CA;
}

.bahamasImg{
  display: none;
}

.vegasImg{
  display: none;
}

.homeImg{
  display: none;
}

.athensImg{
  display: none;
}

.instructions{
  border: 1px solid black;
}

h4 {
  text-align: center;
  font-family: sans-serif;
}

img {
  display: block;
  margin: 0 auto;
}
